.background,
.background-dark-mode {
  background: linear-gradient(#3dc2ff, white);
  height: 100vh;
  font-size: 20px;
}

.background-dark-mode {
  background: linear-gradient(#4854e0, black);
}


.ion-text-wrap.sc-ion-label-md-h{
  outline: none;
}
