.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.transparent {
  background: #5f5f5f77;
  flex: 1;
}
