.container {
  padding: 0 20px;
  color: #212121;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-size: 40px;
  margin-bottom: 0;
}
